/*导航*/
#nav .nav_contont {
	width: 748px;
}
.nav_menu {
	display: none;
}
.nav_extend > li:last-child {
	display: block;
}

/*导航按钮菜单*/
#nav .btn_menu {
	width: 100%;
	height: 488px;
	border-top: 2px solid #d51975;
	background: #333;
	position: absolute;
	top: 60px;
	display: none;
}
.btn_menu ul {
	width: 748px;
	height: 100%;
	margin: 0 auto;
}
.btn_menu ul li {
	border-bottom: 1px dashed #444;
}
.btn_menu ul li:last-child {
	border-bottom: none;
}
.btn_menu ul a {
	display: block;
	height: 60px;
	line-height: 60px;
	color: white;
	font-size: 13px;
}
.btn_menu ul .actives {
	color: #d51975;
}
.btn_menu ul a:hover {
	color: #d51975;
}

/*封面*/

/*about*/
#about > div{
	width: 748px;
}
#about > p,
#about > div{
	width: 748px;
}

/*services*/
.services_text {
	width: 748px;
}

/*内容区的展示图*/
.section_img {
	background-attachment:scroll;
}

/*work*/
.work_menu {
	width: 748px;
}
.work_menu > ul {
	display: none;
}
.work_menu_sm {
	display: block;
}
.work_pic > a {
	width: 25%;
	height: 180px;
}

/*download*/
.download {
	height: 400px;
}
.download_text {
	margin: 100px auto 0;
}

/*team*/
.team_pic {
	width: 748px;
	height: 70%;
}
.team_pic > div > div{
	padding: 13px 20px 0;
}
.team_pic > div > div > h2{
	font-size: 15px;
	margin-bottom: 10px;
}
.team_pic > div > div > p{
	line-height: 1.3;
	margin-bottom: 20px;
}
/*clients*/
.partners {
	width: 600px;
	height: 800px;
}
.partners > ul > li{
	width: 180px;
	height: 180px;
}

/*testimonials*/
.testimonials {
	background-attachment: scroll;
}
.testimonials_text {
	width: 748px;
}
.testimonials_text > p > span {
	font-size: 20px;
}

/*join*/
.join_contont {
	width: 748px;
}

/*contact*/
.contact_content {
	width: 748px;
}
.content_r > button {
	margin-left: 80px;
}

/*foot*/
#foot > p {
	width: 748px;
}
#foot > div {
	margin-top: 10px;
	margin-bottom: 20px;
}
