/*导航*/
#nav .nav_contont {
	width: 280px;
}
.nav_extend > li{
	margin: 0 5px;
}
.btn_menu ul {
	width: 280px;
}

/*封面*/
.cover .cover_logo {
	width: 204px;
	height: 60px;
	margin-left: -102px;
}

/*about*/
#about > div{
	width: 280px;
}
#about > p,
#about > div{
	width: 280px;
}

/*showreel*/
#showreel {
	height: 300px;
}
.video {
	width: 280px;
	height: 157px;
}
.video video {
	width: 280px;
	height: 157px;
}

/*services*/
.services_text {
	width: 280px;
}

/*work*/
.work_menu {
	width: 280px;
}
.work_menu_sm {
	width: 280px;
}
.work_pic > a {
	width: 50%;
}

/*download*/
.download {
	height: 200px;
}
.download_text {
	margin: 20px auto 0;
	width: 250px;
	height: 150px;
}
.download_text > h2 {
	font-size: 15px;
	font-weight: bold;
}
.download_text > p {
	font-size: 13px;
}

/*team*/
.team_pic {
	width: 280px;
}
.team_pic > div{
	height: 340px;
}
.team_pic > div > div{
	padding: 15px 20px 0;
}
.team_pic > div > div > h2{
	font-size: 18px;
}
.team_pic > div > div > p{
	line-height: 1.5;
	margin-bottom: 20px;
}

/*clients*/
.partners {
	width: 240px;
	height: 960px;
}
.partners > ul > li{
	width: 220px;
	height: 220px;
}

/*testimonials*/
.testimonials {
	height: 834px;
}
.testimonials_text {
	width: 300px;
	height: 628px;
}
.testimonials_text > p > span {
	font-size: 24px;
	line-height: 1.5;
}

/*join*/
.join_contont {
	width: 280px;
}

/*contact*/
.contact_content {
	width: 280px;
}
.content_r > div {
	display: block;
}
.content_r > div > input,
.content_r > div > textarea {
	width: 90%;
}
.content_r > button {
	margin-left: 0px;
}

/*foot*/
#foot > p {
	width: 280px;
}
#foot > div > div {
	margin-bottom: 0px;
}
#foot > div {
	margin-top: 0px;
	margin-bottom: 0px;
}
#foot > div i {
	margin: 0;
}
.content_r > div:nth-child(3) {
	position: relative;
}
.content_r > div:nth-child(3) > span {
	position: absolute;
	right: 18px;
}
